/*
# ********************************************************************************** #
#                                                                                    #
#                                   ::::    :::     :::     ::::    :::  ::::::::    #
#   Custom CSS                     :+:+:   :+:   :+: :+:   :+:+:   :+: :+:    :+:    #
#                                 :+:+:+  +:+  +:+   +:+  :+:+:+  +:+ +:+    +:+     #
#   Powered by: Team NANO        +#+ +:+ +#+ +#++:++#++: +#+ +:+ +#+ +#+    +:+      #
#                               +#+  +#+#+# +#+     +#+ +#+  +#+#+# +#+    +#+       #
#   NXO                        #+#   #+#+# #+#     #+# #+#   #+#+# #+#    #+#        #
#                             ###    #### ###     ### ###    ####  ########          #
#                                                                                    #
# ********************************************************************************** #
*/

body {
  position: relative;
  background-color: #000;
  color: #fff;
  text-decoration-color: #fff;
}

body::after {
  content: '';
  display: block;
  height: 2em; /* Set same as footer's height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000;
  text-align: center;
  font-size: .8em;
  font-weight: bold;
  padding: .3em;
  height: 2em; /* Set same as body's height */
}

.main-container {
  padding: 2em;
  min-height: calc(100vh - 2em); /* Set same as footer's height */
  max-width: 65%;
  margin: 0 auto;
}

.category-container {
  padding: 1em;
  margin: 0 auto;
}

h3 {
  color: #0af;
  font-size: 1.5em;
  font-weight: bold;
}

hr {
  width: 50%;
  margin: 3em auto;
}

.navbar-brand {
  width: 15px;
  color : #000;
}

.navbar-brand > img {
  width: 100px;
}

.flag {
  margin-right: 20;
  width: 25px;
}
.logo{
  width: 35px;
}

.nav-item {
  margin-right: 1em;
}

@media only screen and (max-width: 450px) {
  .main-container {
    padding: 2em;
    min-height: calc(100vh - 2em); /* Set same as footer's height */
    max-width: 90%;
    margin: 0 auto;
  }
  
  .category-container {
    padding: 1em;
    margin: 0 auto;
  }
}